.streamcomponent {
  border-radius: 20px !important;
  overflow: hidden;
  position: relative;
}
video {
  left: 0;
  top: 0;
  z-index: 3;
  padding: 0;
  height: max-content;
  object-fit: fill;
  /*   */
}
.streamcomponent > div {
  position: absolute;
  top: 0;
  z-index: 11;
  background-color: antiquewhite;
  padding-left: 5px;
}

/* p{
  margin: 0;
} */

